body {
    overflow: hidden;
    margin:auto;

    width:100%;
    padding:0px;
  }

.container {
    background-color: #1E1E1E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    margin: 0;
  }
  
.inputField {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    color: #333;
  }
  
.datePickerContainer {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 10px;
  }
  
.datePicker {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    color: #333;
  }
  
.submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
.submitButton:hover {
    background-color: #0056b3;
  }

  .logo {
    position: absolute;
    top: 10px; 
    left: 10px; 
    width: 100px; 
    height: 100px; 
  }