/* Добавляем стиль для body, чтобы убрать отступы и сделать фон на весь экран */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Убираем горизонтальный скроллбар */
}

/* Настройки фона и выравнивания содержимого */
.bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Высота на весь экран */
  background-color: #1e1e1e; /* Цвет фона */
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.7), rgba(143, 211, 244, 0.7));
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}
